body {
    margin:0
}

.container {
  display: grid;
  width: 100%;

  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 0px;
  grid-template-areas: "hero"
                       "main"
                       "footer";
}

.heroBanner {
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 2px 2px #000000;
    height: 100vh;
    width: 100vw;
    border: none;
    margin: 0 0 0 0;
    padding: 0;
  }
  .heroImage {
    background-image: url('Hero_Image.jpg');
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  

.italicHeroHeading {
  font-family: 'TsukuARdGothic-Regular';
  font-size: 35px;
  width: 70vw;
  margin: .7em auto;
  overflow: hidden;
  text-align: center;
  font-weight:300;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.boldHeroHeading {
  font-family: 'TsukuARdGothic-Regular';
  font-size: 80px;
  width: 70%;
  margin: .7em auto;
  overflow: hidden;
  text-align: center;
  font-weight:300;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.boldHeroHeading:before, .boldHeroHeading:after {
  content: "";
  display: inline-block;
  width: 4%;
  margin: 0 .15em 0 -55%;
  vertical-align: middle;
  border-bottom: 2px solid;
}
.boldHeroHeading:after {
  margin: 0 -55% 0 .15em;
}

.italicJokeLine {
    font-family: 'Trebuchet MS';
    font-size: 35px;
    width: 70%;
    margin: .7em auto;
    overflow: hidden;
    text-align: center;
    font-weight:300;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.journeyContainer {
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
} 

.journeyHeader {
    font-family: 'TsukuARdGothic-Regular';
    font-size: 40px;
    overflow: hidden;
    text-align: center;
    font-weight:300;
    color: #313131;
    margin: 40px;
    
}
.journeyHeader:before, .journeyHeader:after {
    content: "";
    display: inline-block;
    height: 20%;
    width: 4%;
    margin: 0 .15em 0 -55%;
    vertical-align: middle;
    border-bottom: 2px solid;
  }
  .journeyHeader:after {
    margin: 0 -55% 0 .15em;
  }

.journeyStep {
  display: grid;
  width: 100vw;
  margin: 0px 0px 30px 0px;
  grid-template-columns: 1fr 1.4fr .2fr 3.0fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: ". stepImage . stepText ."
                       ". .         . stepText .";
}

.journeyText {
  grid-area: stepText;
}

.journeyStepImage {
  grid-area: stepImage;
  width: auto; 
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 25px;
}

.journeyStepHeadline1 {
  grid-area: stepText;
  font-family: TsukuARdGothic-Regular;
  font-size: 30px;
  color: #0089F3;
  letter-spacing: 0.36px;
  text-align: left;
}

.journeyStepHeadline2 {
  grid-area: stepText;
  font-family: TsukuARdGothic-Regular;
  font-size: 20px;
  color: #796103;
  letter-spacing: 0.5px;
  text-align: left;
}

.journeyStepHeadline3 {
  grid-area: stepText;
  font-family: TsukuARdGothic-Regular;
  font-size: 20px;
  color: gray;
  letter-spacing: 0.36px;
  text-align: left;
  }

.journeyStepDescription {
  grid-area:  stepText;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0px;
}

.projectSection {
  display: grid;
  width: 100vw;
  margin: 0px 0px 30px 0px;
  grid-template-columns: 1fr 3.0fr .05fr 1.4fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: ". projectText . projectImage ."
                       ". projectText . .            .";
}

.projectText {
  grid-area: projectText;
}

.projectImage {
  grid-area: projectImage;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  border-radius: 25px;
}

.projectTitle {
  grid-area: projectText;
  font-family: TsukuARdGothic-Regular;
  font-size: 30px;
  color: #0089F3;
  letter-spacing: 0.36px;
  text-align: left;
  text-decoration: none;
}

.projectHeadlines {
  grid-area: stepLocation;
  font-family: TsukuARdGothic-Regular;
  font-size: 20px;
  color: #796103;
  letter-spacing: 0.36px;
  text-align: left;
  margin-left: 1em;
}

.projectCopyText {
  grid-area: projectText;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0px;
  margin-left: 2em;
}

/* .footer {
  grid-area: footer;
  background: lightgray
  } */


  