{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" type="text/css" href="{% static 'resume/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <title>I'm Justin Gold</title>
  </head>
  <body>
        <div class="container">
            <div class="hero">
                <section class="heroBanner">
                    <div class = "heroImage">
                        <div class="smallHeroHeading">Hello, I'm</div>
                        <div class="boldHeroHeading">Justin Gold</div>
                    </div>
                </section>
            </div>
            <div class="main">
                <section class="journeyContainer">  <!--Career Steps-->
                    <div class="journeyHeader">
                        My Journey
                    </div>
                    {% for step in JourneySteps %}
                        <div class="journeyStep">
                            <div class='journeyText'>
                                {% if step.link %}
                                    <a class="journeyStepHeadline1" href={{step.link}} target='_blank' style="text-decoration: none;">
                                    {{step.title}} <br>
                                    </a>
                                {% else %}
                                    <div class="journeyStepHeadline1">{{step.title|safe}}</div>
                                {% endif %}

                                {% if step.end_year %}
                                    <div class="journeyStepHeadline2">{{step.employer}}, {{step.start_year}}-{{step.end_year}}</div>
                                {% else %}
                                    <div class="journeyStepHeadline2">{{step.employer}}, {{step.start_year}}</div>
                                {% endif %}
                                {% if step.city %}
                                    <div class="journeyStepHeadline3">{{step.city}}, {{step.state}}</div>
                                {% endif %}
                                <div class="journeyStepDescription">{{step.description | linebreaks}}</div>
                            </div>
                            {% if step.link %}
                                <a class = 'journeyStepImage' href = {{step.link}} target='_blank'>
                                <img src="{{step.cover_image.url}}" class='journeyStepImage' alt="{{step.employer}}"> </a>
                            {% else %}
                                <img src="{{ step.cover_image.url}}" class='journeyStepImage' alt="{{step.employer}}">
                            {% endif %}
                        </div>
                    {% endfor %}
                </section>
                <section class="journeyContainer">  <!-- Projects -->
                    <div class="journeyHeader">
                        Projects
                    </div>
                    {% for project in Projects %}
                        <div class='projectSection'>
                            <div class='projectText'>
                                {% if project.link %}
                                    <a class='projectTitle' href = {{project.link}} target='_blank'>
                                    {{project.title}} <br>
                                    </a>
                                {% else %}
                                    <div class='projectTitle'>{{project.title}}</div>
                                {% endif %}
                                {% if project.accomplished %}
                                    <div class ='projectHeadlines'> Task Accomplished: </div>
                                    <div class='projectCopyText'> {{project.accomplished|safe}} </div> {% endif %}
                                {% if project.tech_used%}
                                    <div class ='projectHeadlines'> Technology Used: </div>
                                    <div class='projectCopyText'> {{project.tech_used|safe}} </div> {% endif %}
                                {% if project.lessons_learned%}
                                    <div class ='projectHeadlines'> Lessons Learned: </div>
                                    <div class='projectCopyText'> {{project.lessons_learned|safe}} </div> {% endif %}
                                {% if project.to_do%}
                                    <div class ='projectHeadlines'> Possible Improvements: </div>
                                    <div class='projectCopyText'> {{project.to_do|safe}} </div> {% endif %}
                                {% if project.detailed_description%}
                                    <div class ='projectHeadlines'> Extra Details: </div>
                                    <div class='projectCopyText'> {{project.detailed_description|safe}} </div> {% endif %}
                            </div>

                            {% if project.link %}
                                <a class='projectImage' href = {{project.link}} target='_blank'>
                                <img src="{{project.cover_image.url}}" class='projectImage' alt="{{project.title}}"> </a>
                            {% else %}
                                <img src="{{project.cover_image.url}}" class='projectImage' alt="{{project.title}}">
                            {% endif %}

                        </div>
                    {% endfor %}
                </section>
            </div>
            <div class="footer">  <!--Footer - Connections-->
                <div class="journeyHeader footerText">
                    Let's Connect
                </div>
                <div class="footerText connectionPanel">
                    {% for connection in Connects %}
                        <a href = {{connection.link}} target='_blank'>
                            <img src="{{connection.icon.url}}" class="connectionIcon grow" alt="{{connection.name}}">
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>

  {{ Skillsjsonserializer|json_script:"skills-stars" }}
  <script src="{% static 'resume/skill-panels.js' %}"></script>
  </body>
</html>
